@page "/users"
@layout UnauthorizedLayout
@inject NavigationManager NavigationManager
<h2>Create new user</h2>
<div>
    <p>
        Name: <br/>
        <InputText @bind-Value="_userName"/> <br/>
        Password: <br/>
        <InputText type="password" @bind-Value="_password"/>
    </p>
    <button @onclick="CreateUser"> Create </button>
</div>
@code {
    private string? _userName;
    private string? _password;

    private async Task CreateUser()
    {
        if (_userName is not null && _password is not null)
        {
            await Storage.CreateUserAsync(_userName, _password);
            _userName = null;
            _password = null;
            NavigationManager.NavigateTo("users/current");
        }
    }
}