@page "/users/current"
@if (_user is null)
{
    <Loading/>
}
else
{
    <h3>@_user?.Name</h3> <br/>
    <button @onclick="LogOutUser" class="custom-button"> Log out </button>
}
@code {
    private UserModel? _user;
    
    protected override async Task OnInitializedAsync() => await TryLoadData();

    private async Task TryLoadData()
    {
        var currentUser = await Storage.GetCurrentUserAsync();
        _user = currentUser;
    }

    private async Task LogOutUser()
    {
        Storage.CurrentUserUpdated += _ =>
        {
            _user = null;
        };
        await Storage.LogOutUserAsync();
        NavigationManager.NavigateTo("/");
    }
}