@page "/users/{UserId:int}"
@inject IUsersControllerClient UsersControllerClient
@if (_chats is null)
{
    <Loading/>
}
else
{
    <h2>@_userName</h2>
    @if (_chats.Length == 0)
    {
        <p> Вы ещё не состоите ни в каких чатах </p>
    }
    else
    {
        <table>
            <thead><tr><th> Название чата </th></tr></thead>
            <tbody>
            @foreach (var chat in _chats)
            {
                <tr>
                    <td> @chat.Name </td>
                    <td><a href="chats/@chat.Id"> Просмотреть </a></td>
                </tr>
            }
            </tbody>
        </table>
    }
}

@code {
    private string? _userName;
    private ChatModel[]? _chats;
    
    [Parameter]
    public int UserId { get; set; }

    protected override async Task OnInitializedAsync() => await LoadData();

    private async Task LoadData()
    {
        var response = await UsersControllerClient.GetUserChats(new GetUserChatsRequest { UserId = UserId });
        _userName = response.UserName;
        _chats = response.UserChats.Length == 0 ? Array.Empty<ChatModel>() : response.UserChats;
    }
}