@page "/chats/{ChatId:int}"
@inject IChatsControllerClient ChatsControllerClient
@if (_chat is null)
{
    <Loading/>
}
else
{
    <h3>@_chat.Name</h3>
    <div>
        @foreach (var message in _chat.Messages)
        {
            <div>
                <p>@message.SenderId: @message.Text</p>
            </div>
        }
    </div>
    <p>
        Text: <br/>
        <InputText @bind-Value="_text"/>
    </p>
    <button @onclick="SendMessage"> Отправить </button> <br/>
    <a href="chats/@_chat.Id/users"> Добавить пользователя в чат </a>
}

@code {
    private ChatModel? _chat;
    private string? _text;

    [Parameter]
    public int ChatId { get; set; }

    protected override async Task OnInitializedAsync() => await LoadData();

    private async Task LoadData()
    {
        var response = await ChatsControllerClient.GetChat(new GetChatRequest { ChatId = ChatId });
        var a = await new HttpClient().GetFromJsonAsync<GetChatResponse>($"Chats/{ChatId}");
        _chat = response.Chat;
    }

    private async Task SendMessage()
    {
        if (!CanSendMessage())
        {
            return;
        }
        await ChatsControllerClient.SendMessage(new SendMessageRequest { ChatId = ChatId, Text = _text! });
        await LoadData();
        _text = null;
    }
    
    private bool CanSendMessage()
    {
        return _text is not null;
    }
}