@page "/chats"
@inject NavigationManager NavigationManager
<h2> Создайте новый чат! </h2>
<div>
    <p>
        Name: <br/>
        <InputText @bind-Value="_chatName"/>
    </p>
    <button @onclick="CreateChat"> Создать </button>
</div>
@code {
    private string? _chatName;

    private async Task CreateChat()
    {
        if (_chatName is not null)
        {
            var chat = await Storage.CreateChatAsync(_chatName);
            _chatName = null;
            NavigationManager.NavigateTo($"chats/{chat.Id}");
        }
    }
}