<HeadContent>
    <link href="../Shared/Loading.razor.css" rel="stylesheet" type="text/css"/>
</HeadContent>

<div id="app">
    <div style="position: absolute; top: 30vh; margin-left:45%; text-align: center">
        <h1>Blazor Chat</h1>
        <div style="display: flex;  font-size: large; gap: 10px; justify-content: center; align-content: center">
            <div class="spinner"></div>
            The application is loading...
        </div>
    </div>
</div>